<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%-4level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %msg (%c{1})%n</pattern>
            </PatternLayout>        </Console>
        <RollingFile name="trace-log" fileName="${log-path}/test/trace.log"
                     filePattern="${log-path}/test/%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-4level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %msg (%c{1})%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="fr.unice.polytech.al.drone.qrcode" level="debug" additivity="false">
            <appender-ref ref="trace-log" level="debug"/>
            <appender-ref ref="console-log" level="debug"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>
